<!DOCTYPE html>
<html lang="es">

<head>
  <% include ../world/header/links %>
</head>

<body>

  <% include ../world/header/header %>

  
  <section class="ftco-intro ftco-no-pb img st"
    style="background-image: url(images/bg_3.jpg); padding: 20px !important; position: -webkit-sticky !important; position: sticky !important; top: 100px !important; z-index: 100 !important;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
          <h2 class="mb-0">Impuestos</h2>
        </div>
      </div>
    </div>
  </section>
  <br>

  <section class="ftco-section ftco-no-pt"
    style="background-color: #FDFDFD !important; padding-bottom: 50px !important;">
    <div class="container">
      <div class="row tabulation mt-4 ftco-animate">

        <div class="col-md-7"
          style="padding: 25px; border: 0.5px solid #dddddd; border-radius: 0.45rem !important; background-image:url('images/dinero.png'); background-size: 75px 100px; background-repeat:no-repeat; background-position: 92% 85%;">
          <div>
            <p style="text-align: justify;">
                Con la información recibida, se elaboran las declaraciones que correspondan
                a su actividad, cuya obligación este regulada en los calendarios establecidos por el SRI,
                diligenciando los respectivos formularios en los portales de los organismos de control listos para el pago.</p>
                En los procesos que realizamos se encuentran los siguientes:
                <br><br>
                <ul>
                  <li>Impuesto sobre la renta.</li>                  
                  <li>Impuesto Sobre las Ventas (IVA).</li>
                  <li>Retenciones en la fuente.</li>
                  <li>Impuesto al Consumo.</li>
                  <li>Planificación Tributaria.</li>
                  <li>Auditorias tributarias preventivas.</li>
                  <li>Declaración Patrimonial.</li>
                  <li>Devolución de Impuestos Fiscales.</li>
                  <li>Cálculo de patente, 1.5 x mil.</li>
                  <li>Contribución Superintendencia de Compañías.</li>
                </ul>
              </p>
            </div>
          </div>
          
          <div class="col-md-1" style="padding: 0px !important; margin: 0px !important;"></div>
          <div class="col-md-4"
            style="background-color: rgb(241, 241, 241); padding: 25px; border-radius: 0.45rem !important;">
            <div>
              <p style="font-size: 17px;"><b>Nuestro Servicio</b></p>
              <p style="text-align: justify;">Nuestra propuesta está abierta a todos los temas de carácter tributario, planeación
                tributaria, evaluación de riesgos fiscales, solicitudes de devolución o compensación de impuestos; entre otros.</p>  
                <p style="font-size: 17px;"><b>Contáctenos</b></p>
                <p style="text-align: justify;"><b>Dirección:</b></p>
                <p style="text-align: justify;"><a href="#direccion">Jorge Washington E4-59 y Amazonas Edif.Rocafuerte,
                    Of. 5, sector C.C.Espiral.</a></p>
                <hr>
                <p style="text-align: justify;"><b>Teléfonos:</b></p>
                <a href="tel:+022500610">022500610,</a>
                <a href="tel:+0997607812">0997607812</a>
                <hr>
                <p style="text-align: justify;"><b>Correo Electrónico:</b></p>
                <a href="mailto:info@adcontur.com">info@adcontur.com</a>
              </div>
      
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-intro ftco-no-pb img" style="background-image: url(images/bg_1.jpg); padding: 30px !important;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 text-justify heading-section heading-section-white ftco-animate">
          <h2 class="mb-0" style="font-size: 23px;">¿Por qué elegirnos?</h2><br>
          <h2 class="mb-0" style="font-size: 20px;">Nosotros somos sus aliados a la hora de organizar, analizar y
            proyectar
            tus estados financieros para un mejor control de tu información contable.</h2>
        </div>
      </div>
    </div>
  </section>
  <br><br>
  <section class="ftco-section testimony-section" style="padding: 0px !important; margin: 0px !important;">
    <div class="container-fluid px-md-5">
      <div class="row ftco-animate justify-content-center fadeInUp ftco-animated">
        <div class="col-md-12" style="padding: 0px !important; margin: 0px !important;">
          <div class="container">
            <div class="row block-9 justify-content-center mb-5"
              style="padding: 0px !important; margin: 0px !important;">
              <div class="col-md-10 mb-md-5" style="padding: 0px !important; margin: 0px !important;">
                <h2>Consulta sobre este servicio</h2>
                <form action="#" class="border p-5 contact-form">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nombre Completo">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Correo Electrónico">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Teléfono/Celular">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Escriba su mensaje"></textarea>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <br>
                      <div class="form-group">
                        <input type="submit" value="Contactar" class="btn btn-primary py-3 px-5">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br><br>
  <section class="ftco-section testimony-section" style="padding: 0px !important;">
    <div class="container-fluid px-md-5">
      <a name="contacto"></a>
      <div class="row ftco-animate justify-content-center">
        <div class="col-md-12">
          <div class="container">
            <div class="row block-9 justify-content-center mb-5">
              <div class="col-md-10 mb-md-5" id="direccion">
                <h2>Ubicación</h2>
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.792600168622!2d-78.49863834909598!3d-0.2057302998491574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59bc4d315f6ab%3A0x910d049c327ce1aa!2sAdcontur%20Soluciones%20Integrales!5e0!3m2!1ses-419!2sec!4v1585854670396!5m2!1ses-419!2sec"
                  style="width: 100%; height: 600px;" frameborder="0" style="border:0;" allowfullscreen=""
                  aria-hidden="false" tabindex="0"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <% include ../world/footer/footer %>

  <% include ../world/footer/links %>

  <% include ../world/footer/float %>
</body>

</html>