<!DOCTYPE html>
<html lang="es">

<head>
  <% include ../world/header/links %>
</head>

<body>

  <%- include('../world/header/header', {data: data}); %>

  <style>
    .puntos li::before {
      content: "\2022";
      color: #13683b;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }

    .arriba {
      padding: 10px;
      background-color: #f7f7f7;
      text-align: center;
      position: -webkit-sticky !important;
      position: sticky !important;
      top: 100px !important;
      z-index: 100 !important;
    }

    @media only screen and (max-width: 994px) {
      .arriba {
        padding: 10px;
        background-color: #f7f7f7;
        text-align: center;
        position: block !important;
        top: 100px !important;
        z-index: 0 !important;
      }
    }
  </style>


  <section class="arriba">
    <div>
      <table style="width: 100%;">
        <tr>
          <td style="text-align: right; width: 45%;"><img src="<%= url_imagen + servicio.titulo_imagen %>" width="40">
          </td>
          <td style="text-align: left;  width: 55%;">
            <div><b style="color: #13683b; font-size: 35px; padding-left: 15px;"><%= servicio.titulo %></b></div>
          </td>
        </tr>
      </table>
    </div>
  </section>

  <br>

  <section class="ftco-section ftco-no-pt"
    style="background-color: #FDFDFD !important; padding-bottom: 50px !important;">
    <div class="container">
      <div class="row tabulation mt-4 ftco-animate">

        <div class="col-md-7"
          style="padding: 25px; border: 2px solid #13683b !important; border-radius: 0.45rem !important; background-image: url('images/fondoServicios.jpg');background-size: cover; color: #000000 !important;">

          <div id="descripcionCompletaServicio"></div>

        </div>
        <div class="col-md-1" style="padding: 0px !important; margin: 0px !important;"></div>
        <div class="col-md-4"
          style="background-color: rgb(241, 241, 241); padding: 25px; border-radius: 0.45rem !important; border: 1px solid #13683b !important;">
          <div>
            <span style="font-size: 17px;"><b>Nuestro Servicio</b></span>
            <div style="background-color: rgb(14, 71, 41); width: 45px; height: 4px;"></div><br>
            <p style="text-align: justify;">
              <%= servicio.descripcion_corta %>
            </p>

            <span style="font-size: 17px;"><b>Contáctenos</b></span>
            <div style="background-color: rgb(14, 71, 41); width: 45px; height: 4px;"></div><br>

            <span><b>Dirección</b></span><br>
            <p style="text-align: justify;"><a href="#direccion">Jorge Washington E4-59 y Amazonas Edif.Rocafuerte,
                Of. 5, sector C.C.Espiral.</a></p>
            <hr>
            <span><b>Teléfonos</b></span><br>

            <a href="tel:+022500610">022500610,</a>
            <a href="tel:+0997607812">0997607812</a>
            <hr>

            <span><b>Correo Electrónico</b></span><br>
            <a href="mailto:info@adcontur.com">info@adcontur.com</a>
          </div>

        </div>

      </div>
    </div>
  </section>

  <section class="ftco-intro ftco-no-pb img" style="background-image: url(images/bg_1.jpg); padding: 30px !important;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 text-justify heading-section heading-section-white ftco-animate">
          <h2 class="mb-0" style="font-size: 23px;">¿Por qué elegirnos?</h2><br>
          <h2 class="mb-0" style="font-size: 20px;">Nosotros somos sus aliados a la hora de organizar, analizar y
            proyectar
            tus estados financieros para un mejor control de tu información contable.</h2>
        </div>
      </div>
    </div>
  </section>
  <br><br>
  <section class="ftco-section testimony-section" style="padding: 0px !important; margin: 0px !important;">
    <div class="container-fluid px-md-5">
      <div class="row ftco-animate justify-content-center fadeInUp ftco-animated">
        <div class="col-md-12" style="padding: 0px !important; margin: 0px !important;">
          <div class="container">
            <div class="row block-9 justify-content-center mb-5"
              style="padding: 0px !important; margin: 0px !important;">
              <div class="col-md-10 mb-md-5" style="padding: 0px !important; margin: 0px !important;">
                <h2>Consulta sobre este servicio</h2>
                <form action="#" class="border p-5 contact-form">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nombre Completo">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Correo Electrónico">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Teléfono/Celular">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Escriba su mensaje"></textarea>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <br>
                      <div class="form-group">
                        <input type="submit" value="Contactar" class="btn btn-primary py-3 px-5">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br><br>
  <section class="ftco-section testimony-section" style="padding: 0px !important;">
    <div class="container-fluid px-md-5">
      <a name="contacto"></a>
      <div class="row ftco-animate justify-content-center">
        <div class="col-md-12">
          <div class="container">
            <div class="row block-9 justify-content-center mb-5">
              <div class="col-md-10 mb-md-5" id="direccion">
                <h2>Ubicación</h2>
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.792600168622!2d-78.49863834909598!3d-0.2057302998491574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59bc4d315f6ab%3A0x910d049c327ce1aa!2sAdcontur%20Soluciones%20Integrales!5e0!3m2!1ses-419!2sec!4v1585854670396!5m2!1ses-419!2sec"
                  style="width: 100%; height: 600px;" frameborder="0" style="border:0;" allowfullscreen=""
                  aria-hidden="false" tabindex="0"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <% include ../world/footer/footer %>

  <% include ../world/footer/links %>

  <% include ../world/footer/float %>

  <script>

    listarServicio();

    function listarServicio() {
      $.ajax({
        url: '/listarServicioComplemento?idServicio=' + parametroURL('idServicio'),
        type: 'GET',
        success: function (json) {
          var datos = json;
          $("#descripcionCompletaServicio").html(json.descripcion_completa);
        }, error: function (xhr, status) {
          alert('Disculpe, existió un problema');
        }
      });
    }

    function parametroURL(_par) {
      var _p = null;
      if (location.search) location.search.substr(1).split("&").forEach(function (pllv) {
        var s = pllv.split("="),
          ll = s[0],
          v = s[1] && decodeURIComponent(s[1]);
        if (ll == _par) {
          if (_p == null) {
            _p = v;
          } else if (Array.isArray(_p)) {
            _p.push(v);
          } else {
            _p = [_p, v];
          }
        }
      });
      return _p;
    }

  </script>
</body>

</html>