<style>
    .flotante {
        display: scroll;
        position: fixed;
        bottom: 30px;
        right: 50px;
    }

    .flotante-detalle {
        display: scroll;
        position: fixed;
        bottom: 100px;
        right: 50px;
    }

    .wp-head {
        border-radius: 8px 8px 0px 0px;
        -moz-border-radius: 8px 8px 0px 0px;
        -webkit-border-radius: 8px 8px 0px 0px;
        background-color: #2db742;
        color: #ffff;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 17px;
    }

    .wp-body {
        border-radius: 0px 0px 8px 8px;
        -moz-border-radius: 0px 0px 8px 8px;
        -webkit-border-radius: 0px 0px 8px 8px;
        border: 1px solid #ddd;
        background-color: #ffffff;
        color: #000000;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .wp-card {
        background-color: #f5f7f9;
        color: #000;
        border-radius: 8px 8px 8px 8px;
        -moz-border-radius: 8px 8px 8px 8px;
        -webkit-border-radius: 8px 8px 8px 8px;
        border-left: 2.3px solid #2db742;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
        cursor: pointer;
    }
</style>

<div id="detalleWp" class="flotante-detalle">
    <div class="wp-head">
        <img src="images/wp.png" alt="" width="23"> &nbsp; Inicia una conversación
    </div>
    <div class="wp-body">
        <div style="padding-bottom: 5px;">
            <small>El equipo generalmente responde inmediatamente.</small>
        </div>
        <a href="https://web.whatsapp.com/send?phone=593979212157&amp;text=Hola, necesito información sobre los servicios que ofrece."
            target="_blank">
            <div class="wp-card">
                <div class="row">
                    <div class="col-md-2">
                        <img src="images/wp-card-l.png" width="35">
                    </div>
                    <div class="col-md-8">
                        Sylvia Barros
                    </div>
                    <div class="col-md-2">
                        <img src="images/wp-card.png" width="20">
                    </div>
                </div>
            </div>
        </a>
        <br>
    </div>
</div>
<div id="btnWp" class='flotante'>
    <img src='images/whatsapp.webp' width="60" />
</div>
<div id="btnWpClose" class='flotante'>
    <img src='images/wp-close.png' width="60" />
</div>

<script>
    $(document).ready(function () {

        $("#detalleWp").css({ "display": "none" });
        $("#btnWp").css({ "display": "block" });
        $("#btnWpClose").css({ "display": "none" });

        $("#btnWp").click(function () {
            $("#detalleWp").css({ "display": "block" });
            $("#btnWp").css({ "display": "none" });
            $("#btnWpClose").css({ "display": "block" });
        });

        $("#btnWpClose").click(function () {
            $("#detalleWp").css({ "display": "none" });
            $("#btnWp").css({ "display": "block" });
            $("#btnWpClose").css({ "display": "none" });
        });

    });
</script>